$font-base: 'Poppins', sans-serif;
$font-title: 'Playfair Display', serif;

$main-font-size: 14px;
$small-font-size: 12px;
$large-font-size: 32px;
$title-size: 14px;

$gray: #9C9D9E;
$bg-main: #7e858b;
$border-color: #efefef;
$gap: 40px;
